.anchor-pane, .split-pane {
    -fx-background-color: #3D3D3D;
    -fx-text-fill: #FF4D00;
}

.list-view, .list-cell, .table-view, .menu-bar, .right-box {
    -fx-background-color: #2B2B2B;
    -fx-border-color: #272121;
    -fx-text-fill: #B5B5B5;
}

.table-cell {
    -fx-background-color: transparent;
    -fx-border-color: #272121;
    -fx-text-fill: #B5B5B5;
}

.table-row-cell, list-cell{
    -fx-background-color: transparent;
    -fx-border-color: #272121;
}


.table-row-cell:selected, .list-cell:selected {
    -fx-background-color: #FF4D00;
    -fx-text-fill: #272121;
}

.list-view {
    -fx-border-width: 3px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.bottom-bar {
    -fx-background-color: #2B2B2B;
    -fx-text-fill: #B5B5B5;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #2B2B2B, #272121);
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #FF4D00;
    -fx-font-weight: bold;
}

.text-input,  .text-field{
    -fx-background-color: #2B2B2B;
    -fx-border-color: #272121;
}

.text-area {
    -fx-control-inner-background: #000000;
    -fx-background-color: #2B2B2B;
    -fx-border-color: #272121;
    -fx-border-width: 3px;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}

.text-field {
    -fx-control-inner-background: #000000;
    -fx-background-color: #2B2B2B;
    -fx-border-color: #272121;
    -fx-highlight-fill: #B5B5B5;
    -fx-highlight-text-fill: #B5B5B5;
    -fx-text-fill: #B5B5B5;
    -fx-prompt-text-fill: rgba(181, 181, 181, 0.5);
}

.context-menu {
    -fx-background-color: #2B2B2B;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.menu-item .label {
    -fx-text-fill: #FF4D00;
    -fx-background-color: #2B2B2B;
}

.menu-item:focused {
    -fx-background-color: #FF4D00;
}

.menu-item:focused .label {
    -fx-text-fill: #2B2B2B;
    -fx-background-color: #FF4D00;
}

.auto-complete-field {
    -fx-highlight-text-fill: #2B2B2B;
}

.auto-complete-field Text {
    -fx-fill: #B5B5B5;
}

.auto-complete-field .menu-item:focused Text {
    -fx-fill: #2B2B2B;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #2B2B2B, #272121);
    -fx-border-color: #272121;
    -fx-text-fill: #FF4D00;
}

.arrow {
    -fx-text-fill: #FF4D00;
    -fx-background-color: #FF4D00;
}

.label {
    -fx-text-fill: #FF4D00;
}

.tooltip {
    -fx-show-delay: 250ms;
    -fx-show-duration: 10000ms;
}
